accelerate
anthropic
beautifulsoup4
bitsandbytes
chromadb
datasets
faiss-cpu
gensim
google-generativeai
gradio
ipykernel
ipywidgets
jupyter-dash
jupyterlab
matplotlib
matplotlib
matplotlib
modal
numpy
ollama
openai
pandas
pandas
plotly
psutil
python-dotenv
requests
scikit-learn
scikit-learn
scipy
sentencepiece
sentencepiece
setuptools
speedtest-cli
tiktoken
torch
torchviz
tqdm
transformers
unstructured
